 /*! Все стили прописаны в style.scss !!! в css всё выглядит страшно! Выполнял на scss, потому что хочу получить бейдж "Маэстро".  */

@font-face {
  font-family: "Steppe-Book" format("truetype");
  src: url(../source/fonts/Steppe-Book.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Steppe-Book" format("truetype");
  src: url(../source/fonts/Steppe-ExtraBold.ttf); /*Это не является ошибкой, шрифт отлично применяется, тут я оптимизировал применение Font-family: "Steppe-Book". */
  font-weight: 800;
  font-style: normal;
}
body {
  background-color: #5243f4;
  font-family: "Steppe-Book", sans-serif;
  font-weight: 500;
  color: white;
}
body .main {
  position: relative;
  overflow: hidden;
}
body .button {
  box-sizing: border-box;
  border-radius: 60px;
  width: 178px;
  height: 58px;
  box-sizing: border-box;
  padding: 18px;
  text-align: center;
  font-size: 18px;
  color: #5243f4;
  background-color: white;
  cursor: pointer;
}
body .button:hover {
  background-color: #eeeeee;
}
body .violet-button {
  background-color: #5243f4;
  color: white;
}
body .violet-button:hover {
  background-color: #3b2ad3;
}
body .common-title {
  font-family: "Steppe-Book", sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
}
body .container {
  max-width: 1200px;
  margin: 0 auto;
}
body header {
  padding: 40px 0;
}
body header .container {
  display: flex;
  align-items: center;
}
body header .logo img {
  vertical-align: bottom;
}
body header .menu {
  margin-left: 250px;
}
body header .menu .menu-list {
  display: flex;
  gap: 50px;
}
body header .menu .menu-list li a {
  font-size: 16px;
  line-height: 130%;
  cursor: pointer;
  color: white;
}
body header .menu .menu-list li a:hover {
  border-bottom: 2px solid white;
}
body .main-content {
  padding-top: 161px;
  padding-bottom: 200px;
  position: relative;
  max-width: 1920px;
}
body .main-content .main-info {
  max-width: 890px;
}
body .main-content .main-info .main-title {
  font-family: "Steppe-Book", sans-serif;
  font-weight: 800;
  font-size: 90px;
  line-height: 100%;
  margin-bottom: 20px;
}
body .main-content .main-info .main-text {
  max-width: 697px;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 40px;
}
body .main-content .main-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
body .products {
  padding: 100px 0;
  position: relative;
}
body .products .products-items {
  display: grid;
  grid-template-columns: repeat(3, 384px);
  gap: 90px 24px;
  margin-top: 110px;
}
body .products .products-items .product-item {
  background-color: white;
  color: #5d3427;
}
body .products .products-items .product-item .product-item-image {
  height: 202px;
  text-align: center;
}
body .products .products-items .product-item .product-item-image img {
  max-width: 100%;
  position: relative;
  height: 272px;
  top: -70px;
}
body .products .products-items .product-item .products-item-details {
  padding: 24px;
}
body .products .products-items .product-item .products-item-details .products-item-title {
  font-family: "Steppe-Book", sans-serif;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 20px;
  text-wrap: nowrap;
}
body .products .products-items .product-item .products-item-details .products-item-text {
  height: 110px;
  font-size: 14px;
  line-height: 120%;
  margin-bottom: 20px;
}
body .products .products-items .product-item .products-item-details .products-item-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .products .products-items .product-item .products-item-details .products-item-extra .products-item-info .products-item-price {
  font-family: "Steppe-Book", sans-serif;
  font-weight: 800;
  color: #5243f4;
  font-size: 24px;
  margin-bottom: 10px;
}
body .products .products-items .product-item .products-item-details .products-item-extra .products-item-info .products-item-weiht {
  font-size: 12px;
}
body .love {
  padding: 64px 0 150px 0;
}
body .love .love-items {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
body .love .love-items .love-item {
  width: 590px;
  height: 453px;
}
body .love .love-items .love-item .love-item-title {
  font-family: "Steppe-Book", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 110%;
  margin-bottom: 20px;
}
body .love .love-items .love-item .love-item-text {
  font-size: 18px;
  line-height: 130%;
}
body .love .love-items .love-item-white {
  background-color: white;
  padding: 110px 80px;
  box-sizing: border-box;
  color: #5d3427;
}
body .order {
  position: relative;
  padding-bottom: 102px;
}
body .order .container {
  position: relative;
}
body .order .order-bg-image {
  position: absolute;
  top: 0;
  right: calc(100% - 810px);
  z-index: -1;
}
body .order .order-block {
  display: flex;
  margin-top: 103px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(50px);
}
body .order .order-block .order-form {
  margin-left: 200px;
  max-width: 387px;
  padding: 40px 0 44px 0;
  box-sizing: border-box;
}
body .order .order-block .order-form .order-form-text {
  font-family: "Steppe-Book", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 130%;
}
body .order .order-block .order-form .order-form-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
body .order .order-block .order-form .order-form-inputs input {
  border: 1px solid #ffffff;
  border-radius: 60px;
  margin-bottom: 16px;
  padding: 24px 22px;
  font-size: 18px;
  width: 385px;
  height: 68px;
  background-color: transparent;
  box-sizing: border-box;
  color: white;
}
body .order .order-block .order-form .order-form-inputs input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
body .order .order-block .order-form .order-form-inputs .button.violet-button {
  width: 387px;
  height: 71px;
}
body .order .order-block .order-block-image {
  height: 501px;
  margin-left: 109px;
}
body .order .order-block .order-block-image .order-image {
  height: 559px;
  position: relative;
  top: -58px;
}
body .footer {
  padding: 126px 0 50px 0;
  text-align: center;
}
body .footer .rights {
  margin-top: 14px;
  font-size: 18px;
}
body .line-1 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: calc(100% - 960px);
}
body .line-2 {
  position: absolute;
  z-index: -1;
  top: -40px;
  left: 0;
}
body .line-3 {
  position: absolute;
  z-index: -1;
  top: -920px;
  left: 0;
}/*# sourceMappingURL=style.css.map */