.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  padding: 40px 0;
}
header .container {
  display: flex;
  align-items: center;
}
header .logo img {
  vertical-align: bottom;
}
header .menu {
  margin-left: 250px;
}
header .menu .menu-list {
  display: flex;
  gap: 50px;
}
header .menu .menu-list li a {
  font-size: 16px;
  line-height: 130%;
  cursor: pointer;
  color: white;
}
header .menu .menu-list li a:hover {
  border-bottom: 2px solid white;
}
.main-content {
  padding-top: 161px;
  padding-bottom: 200px;
  max-width: 1920px;
}
.main-content .main-info {
  max-width: 890px;
}
.main-content .main-info .main-title {
  font-family: "Steppe-ExtraBold", sans-serif;
  font-weight: 800;
  font-size: 90px;
  line-height: 100%;
  margin-bottom: 20px;
}
.main-content .main-info .main-text {
  max-width: 697px;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 40px;
}
.main-content .main-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.products {
  padding: 100px 0;
  position: relative;
}
.products .products-items {
  display: grid;
  grid-template-columns: repeat(3, 384px);
  gap: 90px 24px;
  margin-top: 110px;
}
.products .products-items .product-item {
  background-color: white;
  color: #5d3427;
}
.products .products-items .product-item .product-item-image {
  height: 202px;
  text-align: center;
}
.products .products-items .product-item .product-item-image img {
  max-width: 100%;
  position: relative;
  height: 272px;
  top: -70px;
}
.products .products-items .product-item .products-item-details {
  padding: 24px;
}

.products
  .products-items
  .product-item
  .products-item-details
  .products-item-title {
  font-family: "Steppe-ExtraBold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 20px;
  text-wrap: nowrap;
}

.products
  .products-items
  .product-item
  .products-item-details
  .products-item-text {
  height: 110px;
  font-size: 14px;
  line-height: 120%;
  margin-bottom: 20px;
}

.products
  .products-items
  .product-item
  .products-item-details
  .products-item-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products
  .products-items
  .product-item
  .products-item-details
  .products-item-extra
  .products-item-info
  .products-item-price {
  font-family: "Steppe-ExtraBold", sans-serif;
  font-weight: 800;
  color: #5243f4;
  font-size: 24px;
  margin-bottom: 10px;
}

.products
  .products-items
  .product-item
  .products-item-details
  .products-item-extra
  .products-item-info
  .products-item-weight {
  font-size: 12px;
}
.love {
  padding: 64px 0 150px 0;
}
.love .love-items {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.love .love-items .love-item {
  width: 590px;
  height: 453px;
}
.love .love-items .love-item .love-item-title {
  font-family: "Steppe-ExtraBold", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 110%;
  margin-bottom: 20px;
}
.love .love-items .love-item .love-item-text {
  font-size: 18px;
  line-height: 130%;
}
.love .love-items .love-item-white {
  background-color: white;
  padding: 110px 80px;
  box-sizing: border-box;
  color: #5d3427;
}
.order {
  position: relative;
  padding-bottom: 102px;
}
.order .container {
  position: relative;
}
.order .order-bg-image {
  position: absolute;
  top: 0;
  right: calc(100% - 810px);
  z-index: -1;
}
.order .order-block {
  display: flex;
  margin-top: 103px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(50px);
}
.order .order-block .order-form {
  margin-left: 200px;
  max-width: 387px;
  padding: 40px 0 44px 0;
  box-sizing: border-box;
}
.order .order-block .order-form .order-form-text {
  font-family: "Steppe-ExtraBold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 130%;
}
.order .order-block .order-form .order-form-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.order .order-block .order-form .order-form-inputs input {
  border: 1px solid #ffffff;
  border-radius: 60px;
  margin-bottom: 16px;
  padding: 24px 22px;
  font-size: 18px;
  width: 385px;
  height: 68px;
  background-color: transparent;
  box-sizing: border-box;
  color: white;
}
.order .order-block .order-form .order-form-inputs input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.order .order-block .order-form .order-form-inputs .button.violet-button {
  width: 387px;
  height: 71px;
}
.order .order-block .order-block-image {
  height: 501px;
  margin-left: 109px;
}
.order .order-block .order-block-image .order-image {
  height: 559px;
  position: relative;
  top: -58px;
}
.footer {
  padding: 126px 0 50px 0;
  text-align: center;
}
.footer .rights {
  margin-top: 14px;
  font-size: 18px;
}
.line-1 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: calc(100% - 960px);
}
.line-2 {
  position: absolute;
  z-index: -1;
  top: -40px;
  left: 0;
}
.line-3 {
  position: absolute;
  z-index: -1;
  top: -920px;
  left: 0;
} /*# sourceMappingURL=style. css.map */

.order-form-inputs input.error {
  border-color: red !important;
}
